.nav{
    background-color: rgb(142, 97, 184);
    list-style-type:none ;
    text-align: center;
    width: 600px;
}
.nav li{
    color: rgb(241, 224, 224);
    display: inline-block;
    padding: 20px;
}
